body {
    font-family: monospace;
    margin: 0;
    padding: 0;
}

.tipografia-jogo {
    font-family: monospace;
    font-size: 4rem;
    text-transform: uppercase;
}

.jogo-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid #ff0000;
}

.jogo-centro-flex-item {
    border: 1px solid #2247eb;
}

.corpinho-pre {
    border: 1px solid #10e72d;
    margin: 0;
    padding: 0;
}

.palitinhos {
    visibility: hidden;
}

.palitinho-visivel {
    visibility: visible;
    color: #666;
}

.palitinhos-game-over {
    animation: myAnim 3s ease 0s infinite normal both;
}

#letras-gabarito {
    text-transform: uppercase;
    /* text-decoration: underline; */
    text-align: center;
    padding: 0;
}

.letrinhasWrap {
    margin: 4px;
    border-bottom: 5px solid #000;
}

.letrinhas {
    visibility: hidden;
}

.letra-descoberta {
    visibility: visible;
}

#letras-tentadas {
    border: 1px solid #ff0000;
    margin-top: 20px;
    text-transform: uppercase;
}

#entrada-usuario {
    border: 1px solid #10e72d;
    padding: 0;
}

#input-usuario {
    margin:0;
    padding:0;
    width: 50px;
}


@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(6deg);
	}

	30% {
		transform: translateX(15px) rotate(-6deg);
	}

	45% {
		transform: translateX(-15px) rotate(3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(-2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(1.2deg);
	}
}